/* Main Tag CSS */

div {border 0px solid blue; display: block; padding: 6px; font-family: "Raleway" }

h1 {padding: 0px; color:azure; font-family: "Raleway" ; font-weight: normal; text-align: left;}

.slide_inverted h2 {
  text-shadow: 0px 0px 2px lightgray;
}

h3 {color:grey; font-family: Arial, sans-serif; text-align: center; font-size: medium; text-shadow: 0px 0px 2px lightgray; font-family: "Raleway"}

h4 {margin:0px;}

h5 {text-align: center; font-size: x-large; padding: 0px; margin: 10px;}

a {text-decoration: none; color: white}

body {background-color: cadetblue; margin: 0px; padding: 0px; color:gray; overflow-x: hidden;}

form {display: table; margin-left: auto; margin-right: auto;}

form p {display: table-row; height: 30px;}

form label {display: table-cell;}

form input {display: table-cell;}

p {
  font-family: "Raleway";
  text-shadow:0px 0px 2px rgb(215, 215, 215)
}



/* Class CSS */

.slide {height:auto; clear:both; padding:0px; background-color: black; border: 0px solid black; margin-top: 0px; margin-bottom: 0px;    font-family: "Raleway"; }

.slide_inverted {height:650px; clear:both; padding:0px; color:dimgray; text-shadow: 1px 1px 3px white; background-color: black; border: 0px solid black; margin-top: 0px; margin-bottom: 0px; margin-top: -19px;  font-family: "Raleway";}

.equal-div33 {width: 100%; display: inline-block; vertical-align: top; max-width: 32%; height: 330px; margin: 10px; padding: 20px; border-radius:30px; background-color: aliceblue; min-width: 600px;font-family: "Raleway" !important;}

.equal-div80 {width: 100%; display: inline-block; vertical-align: top; max-width: 60%; height: auto; margin: 10px; padding: 15px; border-radius:5px; background-color: aliceblue; min-width: 650px; text-align: left; overflow:auto;font-family: "Raleway" !important;font-weight: normal !important; overflow-x: hidden;}

.equal-div80-headline h1 {
  text-align: center;
  font-size: 48px;
  margin:10px;
}

.equal-div80-header-left {
  
}

.equal-div80-header-center {
  text-align: center;
  font-size: 18px;
}
.equal-div80-header-left h1{
  width:100%;
  display: inline-block;
  position: relative;
  min-width: 643px;
  max-width: 60%;
  background-color: rgba(66, 66, 66, 0.76);
  bottom:-40px;
margin: 0px;
padding: 10px;
padding-left:18px;
padding-right:19px;
margin-top:-30px;
}

.curve-flatten{
  width: 100%; display: inline-block; vertical-align: top; max-width: 60%; height: 1px; padding-left: 18px; padding-right: 19px;background-color: aliceblue; min-width: 643px; text-align: left; overflow:auto;font-family: "Raleway" !important;font-weight: normal !important; overflow-x: hidden;position: relative; bottom:-28px; text-align: center;
  }

.equal-div80 h2 {
  background: rgba(66, 66, 66, 0.76);padding: 20px;margin-top: -25px;margin-left: -25px;width: 100%;padding-bottom: 10px;border: 1px solid lightgray; color:white; text-transform: lowercase; font-weight: normal !important;
}

.equal-div80 h1 {
  background: rgba(66, 66, 66, 0.76);padding: 20px;margin-top: -25px;margin-left: -25px;width: 100%;padding-bottom: 10px;border: 1px solid lightgray; color:white;
}

.equal-div80 article {
  padding-left: 5px;
}

.equal-div80 figure {
  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 9px;
  box-shadow: 2px 1px 6px #595959;
}

.slide2_left {display: inline-block; width:10%; margin: 0px; margin-bottom: 10px; vertical-align: top; text-align: right; padding-right: 10px;}

.slide2_left > img {padding-top: 20px;}

.slide2_right {display: inline-block; width:70%; margin: 0px; margin-left: 25px; margin-bottom: 10px; vertical-align: top;}

.slide3 {display: inline-block; width:85%; margin: 0px; margin-left: 25px; margin-bottom: 15px; vertical-align: top; text-align: left; color: white;  font-family: "Raleway";}

.container {width:95%; margin: 0px auto; position: relative; top: 15px; padding: 0px; }

.general_slide { clear:both; padding:0px; color:dimgray; text-shadow: 1px 1px 3px white; border: 0px solid black; margin-top: 0px; margin-bottom: 0px; margin-top: -19px; background-image: linear-gradient(to bottom, transparent 0%, cadetblue 100%),url('slide3_v1.jpg'); background-repeat:repeat-y; background-size:cover; height:600px; text-align: center;  font-family: "Raleway"; }

.island {background-image: url(footerstripe.gif); border: 1px solid grey; border-radius:5px; width:50%;display:inline-block; margin-top:20px; box-shadow: 1px 1px 4px black; padding: 20px;}

.island > h2{text-align: left;}

.island > p{text-align: left;}

.table {display: table;}

.table-row {display: table-row;}

.table-cell {display: table-cell;  border:1px solid grey; vertical-align: middle; padding: 5px; font-size: small; border-radius: 3px; background-color: azure}

.table-cell-nob {display: table-cell; vertical-align: middle; padding: 5px; font-size: small; font-weight: bold; text-align: left;}

.button {background-color: cadetblue; padding: 9px; color: white; text-decoration: none; font-size: 22px; margin-right: 27px; position:relative; top:9px; text-shadow: 0 0 0; border-radius: 5px; transition-duration: 0.4s}

.button:hover {
    color: white;
}

.button-hover:hover {
    background-color: black !important;
    text-shadow: 0px 0px 1px darkgray;
}

.button-hover {
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

ul li ul li .button-hover {
    background-color:rgba(66, 66, 66, 0.76); 
    width:200px;
    display:block;
    border-radius: 0px;
}

li {
    display: block;
    transition-duration: 0.5s;
    float: left;
    transition: all linear 0.2s;
   }
   
   li:hover {
     cursor: pointer;
   }
   
   ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     margin-top: 1rem;
     left: 0;
     display: none;
     border-radius: 0px;
     transition: all linear 0.2s;
   }

   ul li ul a {
    opacity: 1;
    transition: all linear 0.2s;
    padding: 10px !important;
    width:240px !important;
  }

  ul li ul a:hover {
    opacity: 1;
    transition: all linear 0.2s;
    border:1px solid lightblue;
    border-radius:4px;
    padding: 10px !important;
    width:245px !important;
  }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
     transition: all linear 0.2s;
   }
   
   ul li ul li {
     clear: both;
     width: 100%;
     border-radius: 0px;
     transition: all linear 0.2s;
   }

/* ID CSS */

#navbar {background-color:rgba(66, 66, 66, 0.76); position:sticky; position: -webkit-sticky; top:0; bottom: auto;z-index: 1; float: left; width: 100%; padding-left: 0px; padding-top:8px;height:30px}

#navbar > a {text-decoration: none; padding: 30px; color: white}

#logobar {background-color:rgb(15, 16, 19); margin-bottom: -17px; height: 70px;}

#loginpane > a:hover {background-color: chocolate;}

#three_way_container {margin: 0px auto; text-align: center; vertical-align: top; padding-top: 30px;} 

#footer {height:275px; clear:both; padding:0px; background-color: lightgrey; background-image: url('footerstripe.gif'); color: grey; text-shadow: 1px 1px 3px rgb(189, 187, 187); border: 1px solid black;    font-family: "Raleway";}

#footer_left {float: left; width:45%; margin: 0px; margin-top:0px; vertical-align: top; text-align: left;    font-family: "Raleway";  text-shadow: 0px 0px 2px rgb(189, 187, 187);}

#footer_right {float:right; width:45%; margin: 0px; margin-top:0px; vertical-align: top; text-align: right;    font-family: "Raleway";  text-shadow: 0px 0px 2px rgb(189, 187, 187);}

#required {color: red; font-weight: bold;}

#success {color: green; font-weight: bold;}

#textbox {background-color:white; padding:10px; border:1px solid grey; border-radius:5px;text-align:left;}

.dropdown a {
  transition: all linear 0.2s;
}

:root {
    --mdc-theme-primary: #343f7c;
    --mdc-theme-secondary: #242353;
  }

.mdc-button {
    height:30px;
}

.examples {
  border-radius: 3px;
  width:500px;
  height:auto;
}

figcaption {
  font-size: 0.9em;
  padding: 5px;
  background-color: white;
  font-family: "Raleway";
}

figure {
  text-align: right;
}
